<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi !</title>
</head>
<body>
    <h1>Hi !</h1>
    <form method="POST">
        <label for="pseudo">Pseudo</label>
        <input type="text" name="pseudo">

        <label for="message">Message</label>
        <input type="text" name="message">

        <label for="gender">Gender</label>
        <select name="gender">
            <option value="">Please choose your gender</option>
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="O">Other</option>
            <option value="unknown">I don't want to give my gender</option>
        </select>

        <button type="submit">Send</button>
    </form>

    <table>
        <tr>
            <th>Pseudo</th>
            <th>Gender</th>
            <th>Message</th>
        </tr>

        <% for (var i = 0; i < messages.length; i++)  { %>
        <tr>
            <td><%= messages[i].pseudo %></td>
            <td><%= messages[i].gender %></td>
            <td><%= messages[i].message %></td>
        </tr>

        <% }  %>
    </table>
</body>
</html>